.payItemLst {
  border-radius: 4px;
  border: solid 1px #cccccc;
}
.paySetHeader {
  border-bottom: solid 1px #cccccc;
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
  background-color: rgba(0,0,0, 0.03);
}
