<h2 mat-dialog-title>产生
  <span *ngIf="payType === 'income'">
      借款
      <mat-icon fontSet="fas" fontIcon="fa-arrow-right" color="primary"></mat-icon>
      <mat-icon fontSet="far" fontIcon="fa-smile-beam" color="primary"></mat-icon>
    </span>
  <span *ngIf="payType === 'payback'">
      还款
      <mat-icon fontSet="far" fontIcon="fa-sad-cry" color="warn"></mat-icon>
      <mat-icon fontSet="fas" fontIcon="fa-arrow-right" color="warn"></mat-icon>
    </span>
  流水</h2>
<mat-dialog-content>
  <div fxLayoutGap="1%" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="49%" fxFlex.gt-md="24%">
      <mat-label>开始日期</mat-label>
      <input matInput placeholder="开始日期" [matDatepicker]="myDatepicker" [(ngModel)]="startDate" (click)="myDatepicker.open()" (ngModelChange)="calPayItems()">
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="49%" fxFlex.gt-md="24%">
      <mat-label>增长单位</mat-label>
      <mat-select [(ngModel)]="step" (ngModelChange)="calPayItems()">
        <mat-option value="month" selected>
          月
        </mat-option>
        <mat-option value="day">
          年
        </mat-option>
        <mat-option value="year">
          天
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="49%" fxFlex.gt-md="24%">
      <mat-label>增长次数</mat-label>
      <input type="number" matInput placeholder="如:36" [(ngModel)]="number" (ngModelChange)="calPayItems()">
    </mat-form-field>
    <mat-form-field fxFlex="49%" fxFlex.gt-md="auto">
      <mat-label>金额</mat-label>
      <input type="number" matInput placeholder="如:15238.88" [(ngModel)]="amount" (ngModelChange)="calPayItems()">
    </mat-form-field>
  </div>

  <div fxLayout="column wrap" style="align-content:space-between;" *ngIf="tmpPayItems.length > 0" ngStyle.gt-sm="max-height: 576px" ngStyle.gt-xs="max-height: 288px">
    <div *ngFor="let item of tmpPayItems;  index as i" style="min-height:24px; line-height: 24px;width: 160px; border-right: 1px solid #DFDFDF">
      <span style="display: inline-block; width: 18px;text-align: right;margin-right:6px;">{{i+1}}</span>{{item.date.format('YYYY-MM-DD')}} &nbsp; {{item.amount}}
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>取消</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="doGenerate()">添加</button>
</mat-dialog-actions>
