<div>
  <mat-form-field appearance="standard">
    <mat-label>开始日期</mat-label>
    <input matInput placeholder="开始日期" [(ngModel)]="startDate">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>增长单位</mat-label>
    <mat-select [(ngModel)]="step">
      <mat-option value="month" selected>
        月
      </mat-option>
      <mat-option value="day">
        年
      </mat-option>
      <mat-option value="year">
        天
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>增长次数</mat-label>
    <input type="number" matInput placeholder="如:36" [(ngModel)]="number">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>金额</mat-label>
    <input type="number" matInput placeholder="如:15238.88" [(ngModel)]="amount">
  </mat-form-field>
</div>

<div>
  <mat-list dense>
    <mat-list-item *ngFor="let item of tmpPayItems"> {{item.date}}  {{item.amount}}</mat-list-item>
  </mat-list>
</div>
