<div style="padding: 1px;">
  <mat-card>
    <mat-card-content>
      <div class="question">
        年利率4.2%和"月手续费率"0.27%的贷款哪个更划算？如何把"月手续费率"转化为年利率？ <a mat-button color="primary" (click)="moreInfo = !moreInfo">什么是"月手续费率"？
        <mat-icon *ngIf="!moreInfo">expand_more</mat-icon>
        <mat-icon *ngIf="moreInfo">expand_less</mat-icon>
      </a>
        <app-open-close [isOpen]="moreInfo">
          信用卡分期，装修贷等常常采用月手续费率计算利息。 即每月的还款包括"月还本金" + "月手续费", 其中：<br />
          "月还本金"= 总贷款金额 / 期数 <br />
          "月手续费" = 总贷款金额 X 月手续费率。<br/>
          以1年期10万，月手续费0.27%的贷款为例： 月还本金 = 10万 / 12 = 8333，月手续费 = 10万 X 0.27% = 270，故每月还款 = 8333 + 270 = 8603。<br/>
          你可能会观察到：对于后面几期，贷款的利息并没有跟着剩余本金的变低而减少，故该还款方式的真实月利率至少 > 0.27%。
        </app-open-close>
      </div>
      <div class="caculator" fxLayout="row" fxLayoutGap.gt-xs="2vw" fxLayoutGap="2px"
           fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="0 1">
          <mat-label>还款月数</mat-label>
          <input type="number" matInput placeholder="如:36" [(ngModel)]="period">
        </mat-form-field>
        <mat-form-field fxFlex="0 1">
          <mat-label>月手续费率</mat-label>
          <input type="number" matInput placeholder="如:15238.88" [(ngModel)]="feeRate">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
      <div *ngIf="interest" class="interest">
        <span class="content">真实利率 = {{interest}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>

