<mat-card>
  <mat-card-content>
    <div class="question">
      套路来了：小张最近装修他的爱巢需要贷款50万。建*银行打来电话: 我们与你的开发商"合作"为您推出"特惠"装修贷，3年期 "月利率" "超低"仅0.27% (所谓"月利率"其实为"月手续费"，
      即每月实际还款为：50w ÷ (3 X 12) + 50w X 0.27% = 15238.88）。
      中*银行：我们现有随借随还贷款，年利率4.2%。请问小张该选哪个银行？
    </div>
    <div class="caculator">
      <mat-form-field appearance="standard">
        <mat-label>总借款</mat-label>
        <input matInput placeholder="如:500000" [(ngModel)]="amount">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>还款月数</mat-label>
        <input type="number" matInput placeholder="如:36" [(ngModel)]="period">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>每月还款</mat-label>
        <input type="number" matInput placeholder="如:15238.88" [(ngModel)]="payback">
      </mat-form-field>
    </div>
    <div *ngIf="interest" class="interest">
      <span class="content">真实利率 = {{interest}}</span>
    </div>
  </mat-card-content>
</mat-card>


