<mat-card>
  <mat-card-content>
    <p class="question">
      更复杂的套路也不怕：北*银行新推出的消费贷，月手续费率0.28%，每月只还手续费，但前2年每满一年需还30%本金，最后一期还剩余40%本金。即50W借款，第12月、第24月还款50W X 30% + 50W X 0.28% = 151400。
      第36月还款50W X 40% + 50W X 0.28% = 201400。其他每月还50W X 0.28% = 1400。求实际利率？
    </p>
    <div class="demo" style="text-align: center; height:450px; line-height: 450px;">
      <video width="640" height="436" controls autoplay loop >
        <source src="/assets/demo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  <div class="caculator" fxLayout="row wrap" fxLayoutAlign.gt-md="space-between" gdGap.lt-lg="6px">
    <app-pay-set fxFlex.gt-md="49.5" fxFlex="100" [itemType]="'income'"></app-pay-set>
    <app-pay-set fxFlex.gt-md="49.5" fxFlex="100" [itemType]="'payback'"></app-pay-set>
  </div>
  <div class="interest" *ngIf="interest">
    <div class="content">
      真实利率 = {{interest}}
    </div>
  </div>
  </mat-card-content>
</mat-card>
