app-simple-caculator {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

app-complex-caculator {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}



